<div class="app-header add-bottom">
    <div class="title-block">
        <h1>{{'dev-hub.APPS' | translate}}</h1>
    </div>
</div>

<div class="row">
    <div id="appsPage" class="text-center col-sm-6 col-sm-offset-3">
        <h1 id="registerAsADeveloperTitle">{{'dev-hub.REGISTER_AS_A_DEVELOPER_TITLE' | translate}}</h1>
        <div class="panel panel-default" >
            <div class="panel-body">
                <div class="row top-buffer">
                    <div>
                        <span id="doNotHavePermissionLabel">{{'dev-hub.DO_NOT_HAVE_PERMISSION' | translate}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
