<div id="appsPage" class="app-header add-bottom">
    <div class="title-block">
        <a class="app-title-links" ui-sref href="/apps">
          <i class="fa fa-home"></i> Developer
        </a>
        <h1 id="registerAsADeveloperTitle">{{'dev-hub.REGISTER_AS_A_DEVELOPER_TITLE' | translate}}</h1>
    </div>
</div>


<div class="row">
    <div id="appsPage" class="text-center col-sm-6 col-sm-offset-3">
        <p id="loginToRegisterText" class="add-top-double text-muted">{{'dev-hub.LOGIN_TO_REGISTER_TEXT' | translate}}</p>

        <p><button id="loginWithGoogleButton"
            class="btn btn-primary btn-lg btn-block"
            ng-click="registerDeveloper()">
                {{'dev-hub.LOGIN_WITH_GOOGLE_BUTTON' | translate}}
        </button></p>

        <p><a href="" id="doNotHaveAccountLink">
            {{'dev-hub.DO_NOT_HAVE_ACCOUNT_LINK' | translate}}
        </a></p>
    </div>
</div>
