<div class="modal-header">
    <h3 class="modal-title">
        How Do I Get a Client ID?
        <button type="button" class="close" ng-click="$close()">
            <i class="fa fa-times"></i>
        </button>
    </h3>
</div>

<div class="modal-body" stop-event="touchend">
    <p class="text-center"><img src="images/dev-hub/clientId-howto.png" width="100%"></p>

    <p>Create a project in the <strong>Google Developer Console</strong> to get the credentials to write code and execute your applications. Visit <a href="http://help.risevision.com/#/developer/getting-started/registration/clientId" target="_blank"><strong>How To Obtain OAuth2 Client ID</strong></a> to create a new one.</p>
</div>
