<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="panel table-responsive">
            <table class="table table--hover">
                <thead class="table-header">
                    <tr class="table-header__row u_clickable">
                        <th class="table-header__cell" ng-click="sortBy('id')">
                            {{'dev-hub.RESOURCE_NAME' | translate}}
                                <i ng-if="sortByCat == 'id'" class="fa" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[sortReverse]"></i>
                        </th>
                        <th class="table-header__cell hidden-xs" ng-click="sortBy('description')">
                            {{'dev-hub.RESOURCE_DESCRIPTION' | translate}}
                               <i ng-if="sortByCat == 'description'" class="fa" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[sortReverse]"></i>
                        </th>
                        <th class="table-header__cell col-xs-1" ng-click="sortBy('httpMethod')">
                            {{'dev-hub.RESOURCE_METHOD' | translate}}
                                <i ng-if="sortByCat == 'httpMethod'" class="fa" ng-class="{false: 'fa-long-arrow-up', true: 'fa-long-arrow-down'}[sortReverse]"></i>
                        </th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <tr class="table-body__row" ng-click="explore(method.id)" ng-repeat="method in methods | orderBy:sortByCat:sortReverse">
                        <td class="table-body__cell"><a href=""><strong>{{ method.id }}</strong></a></td>
                        <td class="table-body__cell hidden-xs description-col"><a href="">{{ method.description }}</a></td>
                        <td class="table-body__cell"><a href="#">{{ method.httpMethod }}</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
