
<style>
.navbar.navbar-default .navbar-header .navbar-right > li {
  float: right;
}
</style>

 <nav class="navbar navbar-default" ng-controller="HeaderNavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <ul class="nav navbar-nav navbar-right actions-nav">
         <li><a href="https://apps.risevision.com/signin" target="_blank" class="btn btn-link">Sign In</a></li>
         <li><a href="https://apps.risevision.com/signup" target="_blank" class="btn btn-primary">Sign Up Free<i class="fa fa-google icon-right"></i></a></li>
          <li>
         <button ng-init="helpIsCollapsed = true" class="btn btn-primary visible-xs" ng-click="helpIsCollapsed = !helpIsCollapsed">
         Need Help?
         </button>
         </li>
         <li style="float:left">
        <button ng-init="isCollapsed = true" class="btn btn-lg btn-default visible-xs" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-bars"></i></button>
        </li>
        <li class="dropdown" dropdown><button class="btn btn-primary dropdown-toggle hidden-xs" dropdown-toggle>Need Help<i class="fa fa-question icon-right"></i></button>
          <div class="dropdown-menu app-navigation" role="menu">
            <ul>
              <li><a id="askCommunityButton" href="https://community.risevision.com/rise_vision_inc" target="_blank">Ask the Community</a></li>
              <li><a id="prioritySupportButton" href="https://apps.risevision.com/support" target="_blank">Get Support</span></a>
              </li>
              <li><a id="signUpForWebinarsButton" href="https://www.risevision.com/webinars" target="_blank">Free Webinars</a></li>
              <li><a id="documentationButton" href="https://help.risevision.com/user" target="_blank">User Documentation</a></li>
              <li><a id="signUpForTrainingButton" href="https://store.risevision.com/product/30/rise-training" target="_blank">Rise Training</a></li>
            </ul>
          </div>
        </li>
       </ul><!--pull-right-->

      <a href="https://www.risevision.com" target="_blank" class="navbar-brand hidden-xs">
        <img src="assets/documentation/images/logo.svg" class="img-responsive">
      </a>
      <div class="navbar-collapse navbar-left">

        <ul class="nav navbar-nav hidden-xs">
          <li ng-repeat="nav in navs">
            <a href="{% raw %}{{nav.link}}{% endraw %}" target="{% raw %}{{nav.target}}{% endraw %}">{% raw %}{{nav.title}}{% endraw %}</a>
          </li>
        </ul>
      </div>
    </div><!--navbar-header-->
  </div>

  <div class="collapsed-nav animated fadeIn half-top half-bottom hidden-lg hidden-md hidden-sm" collapse="isCollapsed">
    <ul class="nav nav-pills nav-stacked">
      <li>
        <a href="https://www.risevision.com" target="_blank">Home</a>
      </li>
      <li ng-repeat="nav in navs">
        <a href="{% raw %}{{nav.link}}{% endraw %}" target="{% raw %}{{nav.target}}{% endraw %}">{% raw %}{{nav.title}}{% endraw %}</a>
      </li>
    </ul>
  </div>

   <div class="collapsed-nav animated fadeIn half-top half-bottom hidden-lg hidden-md hidden-sm" collapse="helpIsCollapsed">
    <ul class="nav nav-pills nav-stacked">
       <li><a id="askCommunityButton" href="https://community.risevision.com/rise_vision_inc" target="_blank">Ask the Community</a></li>
        <li><a id="prioritySupportButton" href="https://apps.risevision.com/support" target="_blank">Get Support</a>
        </li>
        <li><a id="signUpForWebinarsButton" href="https://www.risevision.com/webinars" target="_blank">Free Webinars</a></li>
        <li><a id="documentationButton" href="https://help.risevision.com/user" target="_blank">User Documentation</a></li>
        <li><a id="signUpForTrainingButton" href="https://store.risevision.com/product/30/rise-training" target="_blank">Rise Training</a>
        </li>
    </ul>
  </div>

</nav>
